.navbarfirst {
  background-color: #669784;
}
body {
  width: 100%;
  font-size: 17px;
}
.app {
  background-color: rgba(240, 248, 255, 0.74);
  padding-top: 90px;
  padding-bottom: 140px;
}
.second-head {
  padding-top: 30px;
  padding-bottom: 70px;
}
.first-head {
  font-weight: bold;
}
.third-head {
  font-weight: bold;
  padding-top: 17px;
}
.appstore {
  padding-right: 90px;
}
img,
svg {
  vertical-align: middle;
  padding-right: 20px;
  padding-left: 20px;
}
.img {
  display: flex;
  width: 50%;
  padding-top: 40px;
  align-items: center;
  padding-left: 150px;
}
.img1 {
  padding-left: 50px;
}
.img2 {
  padding-left: 50px;
}
.img3 {
  padding-left: 50px;
}
.ask {
  font-weight: bolder;
}
.card {
  width: 15rem;
  border: none;
  padding-top: 50px;
  padding-left: 40px;
}
btn {
  background-color: rgb(41, 226, 165);
}
.container-second {
  background-color: greenyellow;
  height: 180px;
  padding-top: 50px;
  padding-left: 20px;
}
.invs-img {
  padding-left: 90px;
  padding-right: 50px;
}
.social {
  padding-left: 400px;
}
.cpy {
  padding-left: 50px;
}
.lst {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.lst-itm {
  padding-top: 15px;
}
.nav-link1 {
  padding-left: 20px;
}
.abtfd {
  font-weight: 300;
}
.abth {
  font-weight: bolder;
  font-size: 40px;
}
#sch {
  background-image: url(assets/search.svg);
  background-repeat: no-repeat;
  text-indent: 20px;
}
.navbar-nav {
  padding-left: 50px;
}
.nav-item {
  padding-left: 50px;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img2 {
  padding-left: 50px;
}
.img3 {
  padding-left: 50px;
}
